<!DOCTYPE html>
<!--# Copyright 2019 Denis Mudarisov <https://www.it-projects.info/team/trojikman>
    # License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html).-->
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
  <p style="text-align: center; margin-top: 100px">
    Within seconds you will be redirected to the build.
    If it doesn't happen please click on the link.</br>
    <a id="build_url" href="{{ build_url }}">{{ build_url }}</a>
  </p>
</body>
<script type="text/javascript">
  document.getElementById("build_url").click();
</script>
</html>
