.main-control-pad{
    margin-left: 15%;
    width: auto;
}

.col-lg-12{
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 1000px) {
    #price-window
    {   
        position: fixed;
        right: 30%;
        top: 20%;
        width: 15%;
        height: 40%;
    }
}

@media (min-width: 800px) {
    #price-window
    {   
        position: fixed;
        right: 15%;
        top: 20%;
        width: 25%;
        height: 30%;
    }
}

@media (max-width: 799px) {
    #price-window
    {   
        position: fixed;
        right: 0;
        bottom: -10%;
        width: 100%;
        height: 30%;
        z-index: 1;
    }
}