.col-lg-12{
    flex: 0 0 100%;
    max-width: 100%;
}

.transition {
    transition: 0.5s;
}

.app{
    max-height: 70px;
}

@media (min-width: 1400px) {
    #price-window
    {   
        position: fixed;
        right: 30%;
        top: 20%;
        width: 15%;
        min-width: 20%;
        z-index: 1;
    }

    .row{
        margin-right: auto;
        margin-left: 10%;
        max-width: 40%;
    }
}

@media (min-width: 999px) {
    #price-window
    {   
        position: fixed;
        right: 15%;
        top: 20%;
        width: 20%;
        z-index: 1;
    }

    .row{
        margin-right: auto;
        margin-left: 10%;
        max-width: 40%;
    }
}

@media (max-width: 799px) {
    #price-window
    {   
        position: fixed;
        right: 0;
        bottom: -6%;
        width: 100%;
        z-index: 1;
    }
    .container{
        margin-left: auto !important;
    }

    .row{
        margin-right: auto;
        margin-left: 0px;
        max-width: 80%;
    }
}

.col-lg-9{
    padding-left: 0px;
}